.how-it-works-section {
    padding: 60px;
    background-color: #f9f9f9;
}

.how-it-works-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

.steps-container {
    display: flex;
    justify-content: space-between;
}

.step {
    width: 60%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.step-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.step-description {
    font-size: 1rem;
    color: #777;
}
